pkgbase = cursor-extracted
	pkgdesc = Cursor - The AI Code Editor (extracted from Appimage)
	pkgver = 0.47.1
	pkgrel = 1
	url = https://www.cursor.com/
	arch = x86_64
	license = custom:Proprietary
	options = !strip
	options = !debug
	source_x86_64 = cursor-0.47.1.Appimage::https://anysphere-binaries.s3.us-east-1.amazonaws.com/production/client/linux/x64/appimage/Cursor-0.47.1-aafb3fe1326c939656bd06f325a9e17679aeec7f.deb.glibc2.25-x86_64.AppImage
	sha512sums_x86_64 = SKIP

pkgname = cursor-extracted
