pkgbase = cursor-extracted
	pkgdesc = Cursor - The AI Code Editor (extracted from Appimage)
	pkgver = 0.48.1
	pkgrel = 1
	url = https://www.cursor.com/
	arch = x86_64
	license = custom:Proprietary
	options = !strip
	options = !debug
	source_x86_64 = cursor-0.48.1.Appimage::https://downloads.cursor.com/production/0139db98f117ab50fcaaf7a0b1c69d345bd98a14/linux/x64/Cursor-0.48.1-x86_64.AppImage
	sha512sums_x86_64 = SKIP

pkgname = cursor-extracted
